* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.collections-cont {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 3rem;
}

.collections-cont h2 {
  width: 100%;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}

#collections {
  display: flex;
  flex-wrap: wrap;
}

.collection-img img {
  width: 100%;
}

.single-collection-title {
  width: 100%;
  background-color: #dc4782;
  color: white;
}

.single-collection {
  display: flex;
  flex-direction: column;
  background-color: #9f75d8;
  width: 50%;
  aspect-ratio: 1 / 1;
  padding: 30px;
}

.single-collection:nth-child(1),
.single-collection:nth-child(4),
.single-collection:nth-child(5) {
  background-color: #6c34b8;
}
